{#
/**
 * @file lesson.html.twig
 * Default theme implementation to present Lesson data.
 *
 * This template is used when viewing Lesson pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_lesson()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('lesson') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
